* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #32B3BB;
	color: #fff;
	font-family: 'Nunito', Helvetica, sans-serif;
	font-size: 14px;
	-webkit-transition: background-color 10s;
	-moz-transition: background-color 10s;
	transition: background-color 10s;
}

.twilight {
	background-color: #f29271;
	-webkit-transition: background-color 10s;
	-moz-transition: background-color 10s;
	transition: background-color 10s;
}

.twilight #sky {
	background: -moz-radial-gradient(center bottom, ellipse cover,  rgba(242,146,113,0) 0%, rgba(255,119,176,0.39) 39%, rgba(117,0,87,0.74) 74%, rgba(0,32,34,1) 100%);
	background: -webkit-radial-gradient(center bottom, ellipse cover,  rgba(242,146,113,0) 0%,rgba(255,119,176,0.39) 39%,rgba(117,0,87,0.74) 74%,rgba(0,32,34,1) 100%);
	background: radial-gradient(ellipse at center bottom,  rgba(242,146,113,0) 0%,rgba(255,119,176,0.39) 39%,rgba(117,0,87,0.74) 74%,rgba(0,32,34,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f29271', endColorstr='#002022',GradientType=1 );
}

.night {
	background-color: #002022;
	-webkit-transition: background-color 10s;
	-moz-transition: background-color 10s;
	transition: background-color 10s;
}

.night #sky {
	background: -moz-radial-gradient(center bottom, ellipse cover,  rgba(0,160,171,0) 0%, rgba(0,160,171,0) 50%, rgba(0,0,0,1) 100%);
	background: -webkit-radial-gradient(center bottom, ellipse cover,  rgba(0,160,171,0) 0%,rgba(0,160,171,0) 50%,rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center bottom,  rgba(0,160,171,0) 0%,rgba(0,160,171,0) 50%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000a0ab', endColorstr='#000000',GradientType=1 );
}

.night .star {
	background-color: #fff;
	border-radius: 20px;
	opacity: 0.4;
	position: fixed;
	z-index: 50;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	transition: opacity 2s;
}

.star {
	opacity: 0;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	transition: opacity 2s;
}

.star.star-l {
	-webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
	height: 5px;
	width: 5px;
	-webkit-animation: shiningl 3s linear infinite alternate;
	animation: shiningl 3s linear infinite alternate;
}

.star.star-m {
	-webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
	height: 3px;
	width: 3px;
	-webkit-animation: shiningm 2s linear infinite alternate;
	animation: shiningm 2s linear infinite alternate;
}

.star.star-s {
	-webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25);
	height: 1px;
	width: 1px;
	-webkit-animation: shinings 1s linear infinite alternate;
	animation: shinings 1s linear infinite alternate;
}

#sky {
	background: -moz-radial-gradient(center bottom, ellipse cover,  rgba(50,179,187,0) 0%, rgba(0,56,60,1) 100%);
	background: -webkit-radial-gradient(center bottom, ellipse cover,  rgba(50,179,187,0) 0%,rgba(0,56,60,1) 100%);
	background: radial-gradient(ellipse at center bottom,  rgba(50,179,187,0) 0%,rgba(0,56,60,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0032b3bb', endColorstr='#00383c',GradientType=1 );
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.container {
	height: 100%;
	position: relative;
	width: 100%;
}

#chronometer {
	display: table;
	margin: 20px auto;
	position: relative;
}

#time {
	display: block;
	font-size: 28px;
	text-align: center;
}

#city-name {
	display: block;
	font-size: 20px;
	text-align: center;
}

#weather {
	display: block;
	font-size: 14px;
}

#temperature,
#label {
	display: inline-block;
	font-size: 14px;
}

#sun-path,
#moon-path {
	border: 1px dashed #fff;
	position: fixed;
	-webkit-transform: translate(-50%, -50%) rotate(-90deg);
	-moz-transform: translate(-50%, -50%) rotate(-90deg);
	transform: translate(-50%, -50%) rotate(-90deg);
	top: 100%;
	left: 50%;
	z-index: 100;
	-webkit-transition: transform 2s;
	-moz-transition: transform 2s;
	transition: transform 2s;
}

#sun-path {
	border-radius: 800px;
	height: 800px;
	width: 800px;
}

#sun {
	background-color: #ffce00;
	border-radius: 70px;
	display: table;
	height: 70px;
	margin: -35px auto 0;
	position: relative;
	width: 70px;
}

#moon-path {
	border-radius: 600px;
	height: 600px;
	width: 600px;
}

#moon {
	background-color: #CAD058;
	border-radius: 50px;
	display: table;
	height: 50px;
	margin: -25px auto 0;
	position: relative;
	width: 50px;
}

#earth {
	background-color: #004044;
	border-radius: 200px;
	height: 200px;
	position: fixed;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 100%;
	left: 50%;
	width: 200px;
	z-index: 100;
}

/* ***** Weather ***** */
.weather-container {
	position: relative;
	-webkit-animation: sway 1s ease-in infinite alternate;
	animation: sway 1s ease-in infinite alternate;
}

.cloud-top {
	background-color: #FFF;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	left: -12%;
	width: 20px;
}

.cloud-bottom {
	background-color: #FFF;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	left: -25%;
	width: 40px;
}

.drop1,
.drop2,
.drop3 {
	border: none;
	border-left: 2px dashed #285895;
	height: 10px;
	position: absolute;
	-webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	transform: rotate(20deg);
}

.drop1 {
	top: 30px;
	left: -20%;
}

.drop2 {
	top: 35px;
	left: 0;
}

.drop3 {
	top: 30px;
	left: 15%;
}

.hot .cloud-top,
.hot .cloud-bottom,
.hot .drop1,
.hot .drop2,
.hot .drop3,
.cold .cloud-top,
.cold .cloud-bottom,
.cold .drop1,
.cold .drop2,
.cold .drop3,
.sunny .cloud-top,
.sunny .cloud-bottom,
.sunny .drop1,
.sunny .drop2,
.sunny .drop3,
div[class*="clear"] .cloud-top,
div[class*="clear"] .cloud-bottom,
div[class*="clear"] .drop1,
div[class*="clear"] .drop2,
div[class*="clear"] .drop3,
div[class*="fair"] .cloud-top,
div[class*="fair"] .cloud-bottom,
div[class*="fair"] .drop1,
div[class*="fair"] .drop2,
div[class*="fair"] .drop3,
div[class*="cloudy"] .drop1,
div[class*="cloudy"] .drop2,
div[class*="cloudy"] .drop3,
.dust .drop1,
.dust .drop2,
.dust .drop3,
.haze .drop1,
.haze .drop2,
.haze .drop3,
.foggy .drop1,
.foggy .drop2,
.foggy .drop3,
.smoky .drop1,
.smoky .drop2,
.smoky .drop3,
div[class*="drizzle"] .cloud-top,
div[class*="drizzle"] .cloud-bottom,
div[class*="storm"] .drop3 {
	opacity: 0;
}

div[class*="cloudy"] .cloud-top,
div[class*="cloudy"] .cloud-bottom,
div[class*="rain"] .cloud-top,
div[class*="rain"] .cloud-bottom,
div[class*="rain"] .drop1,
div[class*="rain"] .drop2,
div[class*="rain"] .drop3,
div[class*="showers"] .cloud-top,
div[class*="showers"] .cloud-bottom,
div[class*="showers"] .drop1,
div[class*="showers"] .drop2,
div[class*="showers"] .drop3,
div[class*="hail"] .cloud-top,
div[class*="hail"] .cloud-bottom,
div[class*="hail"] .drop1,
div[class*="hail"] .drop2,
div[class*="hail"] .drop3,
div[class*="sleet"] .cloud-top,
div[class*="sleet"] .cloud-bottom,
div[class*="sleet"] .drop1,
div[class*="sleet"] .drop2,
div[class*="sleet"] .drop3,
div[class*="drizzle"] .drop1,
div[class*="drizzle"] .drop2,
div[class*="drizzle"] .drop3,
div[class*="snow"] .cloud-top,
div[class*="snow"] .cloud-bottom,
div[class*="snow"] .drop1,
div[class*="snow"] .drop2,
div[class*="snow"] .drop3,
div[class*="storm"] .cloud-top,
div[class*="storm"] .cloud-bottom,
div[class*="storm"] .drop1,
div[class*="storm"] .drop2 {
	opacity: 1;
}

.mostly-cloudy .cloud-top,
.mostly-cloudy .cloud-bottom {
	background-color: #808080 !important;
}

.dust .cloud-top,
.dust .cloud-bottom,
.haze .cloud-top,
.haze .cloud-bottom,
.foggy .cloud-top,
.foggy .cloud-bottom,
.smoky .cloud-top,
.smoky .cloud-bottom {
	-webkit-filter: blur(10px);
    filter: blur(10px);
    width: 40px;
	opacity: 0.6;
}

div[class*="hail"] .cloud-top,
div[class*="hail"] .cloud-bottom,
div[class*="rain"] .cloud-top,
div[class*="rain"] .cloud-bottom {
	background-color: #808080 !important;
}

div[class*="snow"] .drop1,
div[class*="snow"] .drop2,
div[class*="snow"] .drop3  {
	border-left: 2px dotted #FFF;
}

div[class*="storm"] .drop1,
div[class*="storm"] .drop2 {
	background-color: transparent;
	border: none;
	left: -15%;
	width: 3px;
}

div[class*="storm"] .drop1 {
	border-bottom: 2px solid yellow;
	border-left: 5px solid yellow;
}

div[class*="storm"] .drop2 {
	border-top: 2px solid yellow;
	border-right: 5px solid yellow;
	top: 40px;
}

.hot {
	background-color: #ff9a00;
}

.cold {
	background-color: #80FFCC;
}

/* *** All Animations *** */
/*Weather*/
@keyframes sway {
	from {
		margin-top: 5px;
	}
	to {
		margin-top: 0;
	}
}

/*Stars*/
@keyframes shiningl {
	from {
		-webkit-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25);
	}
	to {
		-webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
	}
}

@keyframes shiningm {
	from {
		-webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.25);
	}
	to {
		-webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
	}
}

@keyframes shinings {
	from {
		-webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);
	}
	to {
		-webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25);
	}
}