* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #32B3BB;
	color: #fff;
	font-family: 'Nunito', Helvetica, sans-serif;
	font-size: 14px;
	-webkit-transition: background-color 10s;
	-moz-transition: background-color 10s;
	transition: background-color 10s;
}

.twilight {
	background-color: #f29271;
	-webkit-transition: background-color 10s;
	-moz-transition: background-color 10s;
	transition: background-color 10s;
}

.twilight #sky {
	background: -moz-radial-gradient(center bottom, ellipse cover,  rgba(242,146,113,0) 0%, rgba(255,119,176,0.39) 39%, rgba(117,0,87,0.74) 74%, rgba(0,32,34,1) 100%);
	background: -webkit-radial-gradient(center bottom, ellipse cover,  rgba(242,146,113,0) 0%,rgba(255,119,176,0.39) 39%,rgba(117,0,87,0.74) 74%,rgba(0,32,34,1) 100%);
	background: radial-gradient(ellipse at center bottom,  rgba(242,146,113,0) 0%,rgba(255,119,176,0.39) 39%,rgba(117,0,87,0.74) 74%,rgba(0,32,34,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f29271', endColorstr='#002022',GradientType=1 );
}

.night {
	background-color: #002022;
	-webkit-transition: background-color 10s;
	-moz-transition: background-color 10s;
	transition: background-color 10s;
}

.night #sky {
	background: -moz-radial-gradient(center bottom, ellipse cover,  rgba(0,160,171,0) 0%, rgba(0,160,171,0) 50%, rgba(0,0,0,1) 100%);
	background: -webkit-radial-gradient(center bottom, ellipse cover,  rgba(0,160,171,0) 0%,rgba(0,160,171,0) 50%,rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center bottom,  rgba(0,160,171,0) 0%,rgba(0,160,171,0) 50%,rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000a0ab', endColorstr='#000000',GradientType=1 );
}

.night .star {
	background-color: #fff;
	border-radius: 20px;
	opacity: 0.4;
	position: fixed;
	z-index: 50;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	transition: opacity 2s;
}

.star {
	opacity: 0;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	transition: opacity 2s;
}

.star.star-l {
	-webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
	height: 5px;
	width: 5px;
	-webkit-animation: shiningl 3s linear infinite alternate;
	animation: shiningl 3s linear infinite alternate;
}

.star.star-m {
	-webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
	height: 3px;
	width: 3px;
	-webkit-animation: shiningm 2s linear infinite alternate;
	animation: shiningm 2s linear infinite alternate;
}

.star.star-s {
	-webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25);
	box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25);
	height: 1px;
	width: 1px;
	-webkit-animation: shinings 1s linear infinite alternate;
	animation: shinings 1s linear infinite alternate;
}

#sky {
	background: -moz-radial-gradient(center bottom, ellipse cover,  rgba(50,179,187,0) 0%, rgba(0,56,60,1) 100%);
	background: -webkit-radial-gradient(center bottom, ellipse cover,  rgba(50,179,187,0) 0%,rgba(0,56,60,1) 100%);
	background: radial-gradient(ellipse at center bottom,  rgba(50,179,187,0) 0%,rgba(0,56,60,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0032b3bb', endColorstr='#00383c',GradientType=1 );
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 10;
}

.container {
	height: 100%;
	position: relative;
	width: 100%;
}

#chronometer {
	display: table;
	margin: 20px auto;
	position: relative;
}

#time {
	display: block;
	font-size: 28px;
	text-align: center;
}

#city-name {
	display: block;
	font-size: 20px;
	text-align: center;
}

#sun-path,
#moon-path {
	border: 1px dashed #fff;
	position: fixed;
	-webkit-transform: translate(-50%, -50%) rotate(-90deg);
	-moz-transform: translate(-50%, -50%) rotate(-90deg);
	transform: translate(-50%, -50%) rotate(-90deg);
	top: 100%;
	left: 50%;
	z-index: 100;
	-webkit-transition: transform 2s;
	-moz-transition: transform 2s;
	transition: transform 2s;
}

#sun-path {
	border-radius: 800px;
	height: 800px;
	width: 800px;
}

#sun {
	background-color: #ffce00;
	border-radius: 70px;
	display: table;
	height: 70px;
	margin: -35px auto 0;
	width: 70px;
}

#moon-path {
	border-radius: 600px;
	height: 600px;
	width: 600px;
}

#moon {
	background-color: #fff;
	border-radius: 50px;
	display: table;
	height: 50px;
	margin: -25px auto 0;
	width: 50px;
}

#earth {
	background-color: #004044;
	border-radius: 200px;
	height: 200px;
	position: fixed;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 100%;
	left: 50%;
	width: 200px;
	z-index: 100;
}

/* *** All Animations *** */
/*Stars*/
@keyframes shiningl {
	from {
		-webkit-box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.25);
	}
	to {
		-webkit-box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.25);
	}
}

@keyframes shiningm {
	from {
		-webkit-box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.25);
	}
	to {
		-webkit-box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.25);
	}
}

@keyframes shinings {
	from {
		-webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);
	}
	to {
		-webkit-box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25);
		box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.25);
	}
}